*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f4f4f4;
}

.keyboard{
    width: 855px ;
    margin: auto;
    margin-top: 3%;
    /* border: 1px solid black; */
}

.keys{
    display: flex;
    flex-wrap: wrap;
}

.key{
    height: 25px;
    width: 25px;
    list-style: none;
    border: 1px solid darkslategray;
    border-radius: 5px;
    padding: 10px 10px;
    margin:6px 6px 6px 6px ;
    text-align: center;
    font-family: "VT323" , sans-serif;
    font-size: 20px;
    text-transform: uppercase ;
    cursor: pointer;
    background-color: lightblue;
}
.key span{
    pointer-events: none;
}

.good{
    background-color: greenyellow;
}

.bad{
    background-color: rgb(236, 136, 136);
}

.key[value="13"] , .key[value="14"] , .key[value="57"] ,.key[value="54"] , .key[value="58"]{
    padding: 10px 20px;
    background-color: gray;
    color: white;
}

.key[value="28"] , .key[value="40"]{
    padding: 10px 30px;
    background-color: gray;
    color: white;
}

.key[value="41"] , .key[value="52"]{
    padding: 10px 45px;
    background-color: gray;
    color: white;
}

.key[value="0"] , .key[value="27"]{
    background-color: gray;
    color: white;
}
.key[value="53"] , .key[value="55"] , .key[value="59"] {
    padding: 10px 15px ;
    background-color: gray ;
    color: white ;
}

.key[value="56"]{
    padding: 10px 11.5rem ;
    background-color: gray ;
    color: white ;
}


/* text area */

.container{
    width: 855px ;
    margin: auto ;
    margin-top: 2rem ;
    font-family: "Roboto Mono" , sans-serif ;
    /* border: 1px solid black; */
}


.mytext {
    all: unset;
}


.mytext{
    color: black;
    opacity: 0.4;
    width:100%;
    font-size: 25px ;
    background-color: transparent ;
    margin: auto;
    user-select: none;
}
.mytext span{
    margin: auto;
}


.start {
    background-color: blue;
    /* border-left: 2px solid blue; */
}

.next{
    background-color: rgb(13, 72, 235);
}

.verified{
    color: blue;
}

.mistake{
    color: rgb(238, 28, 28);
}

.next , .verified , .mistake{
    opacity: 1;
}


/* header  for notifcation*/
.header{
    display: flex;
    margin: auto;
    flex-direction: column;
    border: 1px solid black ;
    font-family: "VT323" , sans-serif ;
    font-size: 25px;
    padding: 20px;
    background-color: gray;
    color: white;
    justify-content: space-between;
}

.time , .word , .errors {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.refresh{
    display: none;
    margin: auto;
    margin-top: 2rem;
}
.refresh-button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}
.refresh-button a{
    text-decoration: none;
}
.refresh-button a:active {
    color: black;
}

.done{
    position: absolute ;
    width: 90%;
    color: white;
    border: none;
    top: 11rem;
    left: 3rem;
    transition: all 1s ease-in-out;
}

.animate__bounceIn{
    background-color: red;
}